#nav_about {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 2px;
}

.about_flexbox {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 170px;
    gap: 100px;

    margin-bottom: 100px;
}

.text_div,
.image_div {
    flex: 1;
}

.header {
    font-size: 64px;
    line-height: 100%;
    font-family: josefin;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: #68A3B9;
}

.p1 {
    font-size: 24px;
    font-family: ubuntu;
    text-align: left;
    color: #000000;
    text-decoration: none;
    line-height: 150%;
}

.image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.le_team_content {
    flex: 1;

    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 40px;

    margin-bottom: 100px;
}

.le_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    margin-bottom: 75px;
}

.le_box_content {
    flex: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 80px;
}

.le_box_header {
    font-size: 24px;
    font-family: josefin;
    text-align: left;
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: 30px;
}

.le_box_name {
    font-family: ubuntu;
    font-size: 20px;
    line-height: 150%;
}
